<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MongoDBConnectionString"
		     value="mongodb+srv://admin:GestionCalidad2025@gestioncalidadcluster.2fsq5df.mongodb.net/?retryWrites=true&amp;w=majority&amp;appName=GestionCalidadCluster" />
		<add key="MongoDBDatabaseName" value="GestionCalidadDB" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
